.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    &__burger {}

    &__name {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #595085;
    }

    &__settings {}
}