<div class="sidebar">
  <a routerLink="/home"><span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }" class="material-icons">home</span></a>
  <a routerLink="/profile"><span routerLinkActive="active" class="material-icons">person</span></a>
  <a routerLink="/"><span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }" class="material-icons">auto_stories</span></a>
  <a routerLink="/"><span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }" class="material-icons">chat</span></a>
  <a routerLink="/"><span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }" class="material-icons">dark_mode</span></a>
</div>
